<% provide(:title,"#{@user.username} (#{@user.name})") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user,180 %>
        <%= @user.name or @user.username %>
      </h1>
    </section>
  </aside>
</div>
